<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0 ">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Inicio de Sesión</h1>
                        <p class="text-muted mt-3">Bienvenido! Por favor, ingrese su cuenta.</p>
                    </div>
                    <form class="user" [formGroup]="fgv" (submit)="onSubmit(fgv.value)">
                        <div class="form-group">
                            <label for="InputUser">Usuario</label>
                            <input type="text" class="form-control form-control-user" [class.is-invalid]="fgv.get('userName').touched && fgv.get('userName').invalid" [class.is-valid]="fgv.get('userName').touched && fgv.get('userName').valid" formControlName="userName" placeholder="Ingrese su usuario...">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Clave</label>
                            <input type="password" class="form-control form-control-user" [class.is-invalid]="fgv.get('password').touched && fgv.get('password').invalid" [class.is-valid]="fgv.get('password').touched && fgv.get('password').valid" formControlName="password" placeholder="Ingrese su clave...">
                        </div>
                        <!-- <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">Remember
                                    Me</label>
                            </div>
                        </div> -->
                        <button type="submit" [disabled]="fgv.invalid" class="btn btn-primary btn-user btn-block">
                            Entrar
                        </button>

                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small cursor" routerLink="/security/resetPassword">¿Olvidaste tu clave?</a>
                    </div>
                    <div class="text-center">
                        <a class="small cursor" routerLink="/security/register">¡Crea una cuenta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>