<section class="container d-flex justify-content-center align-items-center">
    <div class="col-4">
        <div class="card shadow text-center">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ fullName }}</h5>
                <p class="card-text">{{ user.userName }}</p>
                <p class="card-text">{{ role }}</p>
                <p class="card-text">{{ user.isActive }}</p>
            </div>
        </div>
    </div>
</section>